<!doctype html>
<html>
  <head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/w3.css') }}">
    <style>
      #main {
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
      }

      @media screen and (max-width: 1000px) {
        #main {
          width: 100%;
        }
      }
    </style>
    <title>{% block title %}{% endblock %} - Kaidan box</title>
    {% endblock %}
  </head>
  <body>
    <div id="main">
      <div id="content" class="w3-card-2 w3-padding-4 w3-animate-opacity">
        <div class="w3-padding w3-container">
          {% block content %}{% endblock %}
        </div>
      </div>
      <div class="w3-container w3-margin-top" id="footer">
        {% block footer %}
          &copy; Copyright 2019 by <a href="https://kaidan.im">Kaidan Developers</a>.
        {% endblock %}
      </div>
    </div>
  </body>
</html>