{% extends "base.html" %}
{% block title %} DDNS {% endblock %}
{% block content %}
  	<h1>Setup dynamic DNS</h1>
  	<p>
        To be reachable from the internet, your box requires a ddns address.
        You can get one automatically from Kaidan, or enter a compatible service address above.
    </p>

    {% if error %}
    <div class="w3-panel w3-pale-red w3-leftbar w3-border-red">
        {{ error }}
    </div>
    {% endif %}

    <form class="w3-container" action="/api/ddns" method="POST">
        <label>Host name (for example family name)</label>
        <input name="host_name" class="w3-input w3-border" type="text">

        <label>Service address (leave empty for default)</label>
        <input name="ddns_host" value="ddns.kaidan.im" placeholder="ddns.kaidan.im" class="w3-input w3-border" type="text">

        <button class="w3-button w3-blue w3-right w3-margin">Continue</button>
    </form>
{% endblock %}