{% extends "base.html" %}
{% block title %} Finish {% endblock %}
{% block content %}
  	<h1>Finish setup</h1>
  	<p>
          Your xmpp server is now ready to go.
          By clicking "Finish Setup", you end this assistant and won't be able to change some of your settings again.
    </p>
    
    {% if error %}
    <div class="w3-panel w3-pale-red w3-leftbar w3-border-red">
        {{ error }}
    </div>
    {% endif %}

    <form class="w3-container" action="/api/config" method="GET">
        <input style="display: none" name="set" value="initial_setup_done">
        <input type="checkbox" style="display: none" name="value" checked>
        <button class="w3-button w3-blue w3-right w3-margin">Finish setup</button>
    </form>
{% endblock %}