{% extends "base.html" %}
{% block title %} Initial setup {% endblock %}
{% block content %}
	<h1>Welcome to your new Kaidan box.</h1>
	<p>
		  There are only a few small steps to really owning your messages and photos.
		  You can just pull the plug at any time after setup and your data will have left the interent.
	</p>

	<a class="w3-button w3-blue w3-right w3-margin" href="/?task=wifi">Let's get started</a>
{% endblock %}
