{% extends "base.html" %}
{% block title %} Monitor {% endblock %}
{% block content %}
    <h1>Monitor</h1>
    <p>
        Your xmpp server is already set up
    </p>
    
    {% if error %}
    <div class="w3-panel w3-pale-red w3-leftbar w3-border-red">
        {{ error }}
    </div>
    {% endif %}

    <a class="w3-button w3-blue w3-margin" href="http://kaidanbox.local:5280/admin">Open Ejabberd admin interface</a>

    <form class="w3-container" action="/api/config" method="GET">
        <input style="display: none" name="set" value="initial_setup_done">
        <input style="display: none" name="value" value="off">
        <button class="w3-button w3-blue w3-margin">Restart Setup assistant</button>
    </form>
{% endblock %}
