{% extends "base.html" %}
{% block title %} Port forwarding {% endblock %}
{% block content %}
  	<h1>Port forwarding</h1>
  	<p>
	    The box needs to be accessible from the internet to communicate with servers and devices outside of your house.
    </p>

    {% if error %}
    <div class="w3-panel w3-pale-red w3-leftbar w3-border-red">
        {{ error }}
    </div>
    {% endif %}

    <p>
        First, the box will try to configure port forwarding automatically.
        To start this, please click "continue".

        Afterwards it will be tested whether the forwarding is actually working.
        If it is not, or you want to do forwarding yourself,
        please open the configuration page of your router,
        and setup port forwarding of ports xxxx - yyyyy to the kaidanbox device.
    </p>

    <form class="w3-container" action="/api/port_forwarding" method="POST">
        <input style="display: none" name="port_min" value="5200">
        <input style="display: none" name="port_max" value="5400">
        <button class="w3-button w3-blue w3-right w3-margin">Continue</button>
    </form>
{% endblock %}