{% extends "base.html" %}
{% block title %} Wifi {% endblock %}
{% block content %}
    <!-- Refresh page to get updates and prevent request timeouts -->
    <meta http-equiv="refresh" content="3 url=/api/wifi_status">

  	<h1>Connecting to the wifi</h1>
  	<p>
          Once connected, you can continue the setup.
    </p>

    {% if error %}
    <div class="w3-panel w3-pale-red w3-leftbar w3-border-red">
        {{ error }}
    </div>
    {% endif %}
    {% if warning %}
    <div class="w3-panel w3-pale-green w3-leftbar w3-border-green">
        {{ warning }}
    </div>
    {% endif %}
    {% if message %}
    <div class="w3-panel w3-pale-green w3-leftbar w3-border-green">
        {{ message }}
    </div>
    {% endif %}


    {% if message %}
    <a href="/?task=ddns" class="w3-button w3-blue w3-right w3-margin">Continue</a>
    {% endif %}

    {% if error %}
    <a href="/?task=wifi" class="w3-button w3-blue w3-left w3-margin">Try again</a>
    {% endif %}
{% endblock %}