{% extends "base.html" %}
{% block title %} Wifi {% endblock %}
{% block content %}
  	<h1>Wifi setup</h1>
  	<p>
          The box needs an active internet connection to work.
          Connect to a wifi network if your box does not have an ethernet connection.
    </p>

    <form class="w3-container" action="/api/wifi" method="POST">
        <label>WLAN SSID</label>
        <input name="ssid" class="w3-input w3-border" type="text">

        <label>Password</label>
        <input name="password" class="w3-input w3-border" type="password">

        <button class="w3-button w3-blue w3-right w3-margin">Connect</button>
    </form>
{% endblock %}