{% extends "base.html" %}
{% block title %} XMPP {% endblock %}
{% block content %}
  	<h1>XMPP server</h1>
  	<p>
		  Setting up your xmpp server...
    </p>
    
    {% if error %}
    <div class="w3-panel w3-pale-red w3-leftbar w3-border-red">
        {{ error }}
    </div>
    {% endif %}

    <form class="w3-container" action="/api/create_xmpp_server" method="POST">
        <label>Password for the administrator user</label>
        <input name="admin_password" type="password" class="w3-input w3-border">

        <label>Optional custom configuration</label>
        <input class="w3-input w3-border" name="xmpp_config" placeholder="{'hosts': ['kaidan.im']}">

        <button class="w3-button w3-blue w3-right w3-margin">Continue</button>
    </form>
{% endblock %}